* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

body {
    background-color: rgb(247, 247, 247);
}

.header-container {
    background-color: #5c687c;
    display: flex;
}

.logo-container {
    display: flex;
    justify-content: center;
    
    /* REQUISITO 01 */
    flex-basis: 286px;
}

.menu-container {
    display: flex;
    flex-basis: 500px;
    
    /* REQUISITO 03 */
    flex-grow: 1;
}

.menu-container ul {
    display: flex;
    justify-content: space-around;
    width: 100%;

    /* REQUISITO 04 */
    align-self: center;
}

.menu-container li{
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    list-style: none;
    margin-right: 10px;
}

/* REQUISITO 02 */
.header-container :nth-child(2) {
    order: -1;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-container {
    display: flex;
    flex-direction: column;

    /* REQUISITO 2.4 */
    flex-grow: 10;
}

.movie-container h2 {
    margin: 40px 0;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* REQUISITO 2.3 */
    flex-basis: 700px;
}

.card-container div {
    align-items: center;
    background-color: #5c687c;
    border: black solid 1px;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 10px;

    /* REQUISITO 2.3 */
    flex-basis: 16%;

    /* REQUISITO 2.5 */
    flex-grow: 1;
}

.aside-container {
    display: flex;
    flex-direction: column;
    margin: 20px;

    /* REQUISITO 2.1 */
    flex-basis: 350px;

    /* REQUISITO 2.2 */
    align-self: center;
    flex-grow: 1;
}

.aside-container h3, h4 {
    margin-bottom: 10px;
    text-align: center;
}

.aside-container p {
    margin: 10px 0;
    text-align: justify;
}

/* Linha no final só pra acostumar com o linter */
