* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    margin: 1em;
}
h1 {
    font-size: 25px;
    padding: 1em 0;
    text-align: center;
}
h2 {
    font-size: 22px;
    margin: 0;
    padding: 2em 0 0;
    text-align: center;
}

img {
    padding: 3em 0 0;
    max-width: 100%;
}

figure {
    display: flex;
    flex-direction: column;
    margin: 0;
}

@media screen and (min-width: 768px) {
    body {
        background-color: red;
        font-size: 1em;
        margin: 2em;
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }

    figure {
        flex-basis: 50%;
    }

    main h2 {
        flex-basis: 100%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
    
    p {
        max-width: 800px;
        text-align: justify;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1300px) {
    body {
        background-color: greenyellow;
        font-size: 25px;
        margin: 4em
    }
}