* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

header {
    background-color: aquamarine;
    margin: 1em;
    padding: 1em;
    border: 5px solid gray ;
}

header h1 {
    margin: auto;
    text-align: center;
}

nav {
    background-color: greenyellow;
    margin: 1em;    
    padding: 1em;
    border: 5px solid gray ;
    display: block;
    width: 100%;
}

nav, ul {
    margin: auto;
    display: block;
    text-align: center;
}

nav, ul, li {
    display: inline-block;
    padding: .25em 1em .25em 1em;
}

main {
    background-color: antiquewhite;
    margin: 1em;
    padding: 1em;
    border: 5px solid gray ;
}

article {
    background-color: hotpink;
    margin: 0;  /*obrigatorio pra funcionar a divisao da tela*/
    padding: 1em;
    border: 5px solid gray ;
    float: left;    /*obrigatorio pra funcionar a divisao da tela*/
    width: 70%;
    
}

section {
    /* Conteúdo a parte */
    background-color: rgb(196, 127, 78);
    margin: 1em;
    padding: 1em;
    border: 5px solid gray ;
}

aside {
    background-color: lightcoral;
    margin: 0;  /*obrigatorio pra funcionar a divisao da tela*/
    padding: 1em;
    border: 5px solid gray ;
    float: right;   /*obrigatorio pra funcionar a divisao da tela*/
    width: 30%;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: royalblue;
    margin: 1em;
    padding: 1em;
    border: 5px solid gray ;
}

.texto-centralizado {
    text-align: center;
    background-color: lawngreen;
    /* display: block; */
    padding: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: lawngreen;
}

a img:hover {
    width: 31%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 200ms;
}

table {
    margin: auto;
}

article, body, main {
    background-image: url("https://i.natgeofe.com/n/f46158fc-9bf2-4453-8a15-6b11b323c08e/Peacock-mantis.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: soft-light;
}

.conteudo img{
    float: right;
    width: 30%;
    border-radius: 5%;
    border: black solid 2px;
    box-shadow: indigo 2px 2px 4px;
}

.conteudo h3 {
    
}

.conteudo::after {
    content: "";
    display: table;
    clear: both;
}

.aviso {
    background-color: black;
    color: red;
}