h1 {
    text-align: center;
}

p {
    text-align: center;
}

li:hover {
    background-color: greenyellow;
}

li:active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}