h1, p{
    text-align: center;
}

li:hover {
    background-color: greenyellow;
}

li:active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

ul, ol {
    list-style: none;
}